In [1]:
# and we will store the data in bigquery
import pandas_gbq
import pydata_google_auth

import yfinance as yf # for downloading stock data

### Authentication

In [2]:
# BigQuery authentication
SCOPES = [
    'https://www.googleapis.com/auth/cloud-platform',
    'https://www.googleapis.com/auth/drive',
]

credentials = pydata_google_auth.get_user_credentials(
    SCOPES,
    # Note, this doesn't work if you're running from a notebook on a
    # remote sever, such as over SSH or with Google Colab. In those cases,
    # install the gcloud command line interface and authenticate with the
    # `gcloud auth application-default login` command and the `--no-browser`
    # option.
    auth_local_webserver=True,
)

### Getting daily data from last month

In [9]:
dat = yf.Ticker("MSFT")
msft_df = dat.history(period='1mo')
msft_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-03-18 00:00:00-04:00,387.070007,387.369995,381.100006,383.519989,19486900,0.0,0.0
2025-03-19 00:00:00-04:00,385.529999,389.679993,384.000000,387.820007,19185500,0.0,0.0
2025-03-20 00:00:00-04:00,385.739990,391.790009,383.279999,386.839996,18470500,0.0,0.0
2025-03-21 00:00:00-04:00,383.220001,391.739990,382.799988,391.260010,39675900,0.0,0.0
2025-03-24 00:00:00-04:00,395.399994,395.399994,389.809998,393.079987,21004500,0.0,0.0
2025-03-25 00:00:00-04:00,393.920013,396.359985,392.640015,395.160004,15775000,0.0,0.0
2025-03-26 00:00:00-04:00,395.000000,395.309998,388.570007,389.970001,16108400,0.0,0.0
2025-03-27 00:00:00-04:00,390.130005,392.239990,387.399994,390.579987,13766800,0.0,0.0
2025-03-28 00:00:00-04:00,388.079987,389.130005,376.929993,378.799988,21632000,0.0,0.0
2025-03-31 00:00:00-04:00,372.540009,377.070007,367.239990,375.390015,35184700,0.0,0.0
2025-04-01 00:00:00-04:00,374.649994,382.850006,373.230011,382.190002,19689500,0.0,0.0
2025-04-02 00:00:00-04:00,377.970001,385.079987,376.619995,382.140015,16092600,0.0,0.0
2025-04-03 00:00:00-04:00,374.790009,377.480011,369.350006,373.109985,30198000,0.0,0.0
2025-04-04 00:00:00-04:00,364.130005,374.589996,359.480011,359.839996,49209900,0.0,0.0
2025-04-07 00:00:00-04:00,350.880005,371.000000,344.790009,357.859985,50425000,0.0,0.0
2025-04-08 00:00:00-04:00,368.260010,373.649994,350.250000,354.559998,35868900,0.0,0.0
2025-04-09 00:00:00-04:00,353.540009,393.230011,353.100006,390.489990,50199700,0.0,0.0
2025-04-10 00:00:00-04:00,382.059998,383.899994,367.799988,381.350006,38024400,0.0,0.0
2025-04-11 00:00:00-04:00,380.640015,390.049988,378.890015,388.450012,23839200,0.0,0.0
2025-04-14 00:00:00-04:00,393.220001,394.649994,384.209991,387.809998,19251200,0.0,0.0
2025-04-15 00:00:00-04:00,388.510010,391.890015,384.160004,385.730011,17199900,0.0,0.0
2025-04-16 00:00:00-04:00,380.670013,381.609985,368.000000,371.609985,21967800,0.0,0.0
2025-04-17 00:00:00-04:00,373.440002,374.321503,366.890015,367.779999,20858907,0.0,0.0

## Creating BigQuery Table

In [10]:
# to BigQuery
pandas_gbq.to_gbq(
    msft_df,
    destination_table='stock_data.msft',
    project_id='sipa-adv-c-roberto',
    if_exists='replace',
    credentials=credentials,
)

100%|██████████| 1/1 [00:00<00:00, 874.00it/s]